body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #333333;
  background-color: #ffffff;
}
.navbar-inner {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #2c2c2c;
  background-image: -moz-linear-gradient(top, #bb0000, #660000);
  background-image: -ms-linear-gradient(top, #bb0000, #660000);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bb0000), to(#660000));
  background-image: -webkit-linear-gradient(top, #bb0000, #660000);
  background-image: -o-linear-gradient(top, #bb0000, #660000);
  background-image: linear-gradient(top, #bb0000, #660000);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bb0000', endColorstr='#660000', GradientType=0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #660000;
}
.navbar .nav > li > a {
  float: none; 
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px 11px;
  line-height: 40px;
  color: #eee;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar .brand {
  float: left;
  display: block;
  padding: 10px 20px 12px;
  margin-left: 20px;
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
}
h2 {
  font-size: 20px;
padding-top: 6px;
padding-bottom: 6px;
color:#777;
  line-height: 36px;
}
img {
	height:auto;
	max-width: 300px;
	  width:auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
	position:relative;
}
.hero-unit {
  padding: 60px;
  margin-bottom: 40px;
  margin-left: 30px;
 margin-right: 30px;
margin-top:20px;
width:auto;
  background-color: #fff2f2;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.btn-inverse {
  background-color: #414141;
  color : #eee;
  font-weight: bold;
font-style:normal;
font-size:15px;
margin-top:7px;
padding-left:40px;
padding-right:40px;
padding-top:10px;
padding-bottom:10px;
  background-image: -moz-linear-gradient(top, #555555, #222222);
  background-image: -ms-linear-gradient(top, #555555, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
  background-image: -webkit-linear-gradient(top, #555555, #222222);
  background-image: -o-linear-gradient(top, #555555, #222222);
  background-image: linear-gradient(top, #555555, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #000;
  text-decoration: none;
  background-color: #fff2f2;
}
a.example
{
color:#a22;
font-size:18px;
}
